.Memory-Game {
  background-color: aliceblue;
  min-height: 90vh;
}
h1 {
  text-align: center;
}

.cards-container {
  /* background-color: red; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* fr is the fraction of available space */
  grid-template-rows: repeat(4, 1fr);
  gap: 0.7rem;
}

.cards {
  /* width: 20px;
  height: 20px; */
  background-color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 0.5em;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transition: transform 0.5s;
}

@keyframes hideCard {
  0%,
  70% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.cards img {
  transform: scale(0);
  animation: 2s hideImage linear;
  transition: transform 0.5s;
}

@keyframes hideImage {
  0%,
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.cards .active {
  transform: rotateY(0deg);
}

.cards.active img {
  transform: scale(1);
}

.cards.wrong {
  background-color: rgb(239, 127, 127);
}

.cards.correct {
  background-color: rgb(127, 239, 127);
}
